body {
  background-color: cornsilk;
  text-align: center;
}

.App {
  text-align: center;
}

button {
  background-color: darkorange;
  font-size: 2rem;
  border-color: snow;
  box-shadow: none;
}

h2 {
  color: darkorange;
  font-size: 1.5rem;
}

p {
  color: darkorange;
  font-size: 1.5rem;
}
